<div style="overflow: scroll; height: 400px; border: 1px solid">
  <div *ngFor="let cake of allCakes" >
    <div>
      <a (click)="fireSendCakeDetailsEvent(cake)"><img src="{{ cake.image }}" style="width: 200px;"></a>
      <p>{{ cake.baker }}</p>
      <p>{{ cake._id }}</p>
      <div>
        <input placeholder="Rating" type="number" class="validate" name="rating" min=1 max=5 [(ngModel)]="_review.rating">
        <input placeholder="Review" type="text" class="validate" name="review" [(ngModel)]="_review.review">
        <button (click)="fireSubmitNewReviewEvent(cake)" class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
      </div>
    </div>
  </div>
</div>