<html>

<body>
  <h2>Here are all the users:</h2>
  <% for (var x in usersss) { %>
    <h3>Name:
      <%= usersss[x].name %>
    </h3>
    <h4>Email:
      <%= usersss[x].email %>
    </h4>
    <hr>
    <% } %>
</body>

</html>