mat-form-field {
  display: block;
}

.warning {
  color: #ff0000;
}

.scroll {
  overflow: scroll;
}

span.randomCourse {
  float: right;
  margin-top: 10px;
}

div.randomCourse {
  margin-bottom: 10px;
}