<div style="text-align:center">
  <h1>Restful Tasks API</h1>
</div>
<div style="text-align:center">
  <!-- <h3>All the tasks:</h3>
  <input type="button" value="GET ALL TASKS" (click)="getTasksFromService()">
  <ul style="display:table; margin: 0 auto;" *ngIf="_showTasks">
    <li *ngFor="let task of _tasksArr">
      {{ task.title }}
      <input type="button" value="show" (click)="showTaskDetails(task)">
    </li>
  </ul>
  <hr>
  <div style="text-align:center;">
    <h3>Task details:</h3>
    <div *ngIf="_showTaskDetails">
      <h4>{{ _taskDetails.title }}</h4>
      <h4>{{ _taskDetails.description }}</h4>
    </div>
  </div> -->


  <h3>Total Gold: {{_gold}}</h3>
  <div class="row">
    <div class="farm instance">
      <h4>Farm</h4>
      <p>Earns 2-5 gold</p>
      <input type="button" value="Farm!" (click)="farm()">
    </div>
    <div class="cave instance">
      <h4>Cave</h4>
      <p>Earns 5-10 gold</p>
      <input type="button" value="Cave!" (click)="cave()">
    </div>
    <div class="house instance">
      <h4>House</h4>
      <p>Earns 7-15 gold</p>
      <input type="button" value="House!" (click)="house()">
    </div>
    <div class="casino instance">
      <h4>Casino</h4>
      <p>Earn or lose up to 100 gold</p>
      <input type="button" value="Casino!" (click)="casino()">
    </div>
  </div>
  <div class="adventureLog">
    <h4>Adventure Log</h4>
    <p *ngFor="let event of _events">{{ event }}</p>
  </div>
  <input type="button" value="reset" (click)="reset()">
</div>


