<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'index/js/index.js' %}"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  
  <title>Document</title>

</head>
<body>
  <div class="container">

    <div class="row">
      <div class="col s12 m12">
        <form method="POST" action="/process">
          {% csrf_token %}
          <div class="input-field col s8">
            <span>Your Name:</span>
            <input type="text" name="name">
          </div>

          <div class="input-field col s8">
            <span>Dojo Location:</span>
            <select name="dojo">
              <option value="seattle">Seattle</option>
              <option value="burbank">Burbank</option>
              <option value="san jose">San Jose</option>
            </select>
          </div>

          <div class="input-field col s8">
            <span>Favorite Language:</span>
            <select name="language">
              <option value="javascript">Javascript</option>
              <option value="java">Java</option>
              <option value="python">Python</option>
            </select>
            <button class="btn waves-effect waves-light" type="submit">
                Submit<i class="material-icons right">send</i>
            </button>
          </div>

        </form>
      </div>
    </div>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>