<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>
<body>
  <form action="/blogs/create" method="post">
    {% csrf_token %}
    <p>counter from session: {{ request.session.counter }}</p>
    <label for="name">Blog Name:</label>
    <input type="text" id="name" name="name" placeholder="blog name">
    <label for="desc">Description:</label>        
    <textarea id="desc" name="desc" placeholder="description"></textarea>
    <button type="submit">Submit</button>
  </form>  
</body>
</html>