<div class="container">
  <mat-form-field>
    <mat-select placeholder="Platform" [(ngModel)]="_platform" required> 
      <mat-option value="SNES" (click)="setPlatform()">SNES</mat-option>
      <mat-option value="N64" (click)="setPlatform()">N64</mat-option>
      <mat-option value="GC" (click)="setPlatform()">GC</mat-option>
      <mat-option value="Wii" (click)="setPlatform()">Wii</mat-option>
      <mat-option value="WiiU" (click)="setPlatform()">Switch</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="_platform" required>
    <mat-select placeholder="Course" [(ngModel)]="_course"> 
      <mat-option *ngFor="let course of _courses" [value]="course">
        {{ course }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="_course" required>
    <mat-select placeholder="Group" [(ngModel)]="_group"> 
      <mat-option value=1 (click)="setPlayerCount()">1</mat-option>
      <mat-option value=2 (click)="setPlayerCount()">2</mat-option>
      <mat-option value=3 (click)="setPlayerCount()">3</mat-option>
      <mat-option value=4 (click)="setPlayerCount()">4</mat-option>
    </mat-select>
  </mat-form-field>
</div>
  