<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
  <script src="main.js"></script>
</head>
<body>
  <div>
    <a href="/cats/4"><img src="4.jpg" style="display: block; width: 250px;"></a>
  </div>
  <div>
    <a href="/cats/5"><img src="5.jpg" style="display: block; width: 250px;"></a>
  </div>
  <div>
    <a href="/cats/6"><img src="6.jpg" style="display: block; width: 250px;"></a>
  </div>
</body>
</html>