<mat-sidenav-container class="sidenav-container" *ngIf="(isLoggedIn$ | async)">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
    >
    <mat-toolbar color="primary">{{ _authService._loggedInUserScreenname }}</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/faq']" (click)="drawer.toggle()">FAQ</a>
      <a mat-list-item [routerLink]="['/history']" (click)="drawer.toggle()">View Races</a>
      <a mat-list-item [routerLink]="['/add-races']" (click)="drawer.toggle()">Add Races</a>
      <a mat-list-item [routerLink]="['/random-race']" (click)="drawer.toggle()">Random Race</a>
      <a mat-list-item [routerLink]="['/add-groups']" (click)="drawer.toggle()">Add Groups</a>
      <a mat-list-item [routerLink]="['/personal-stats']" (click)="drawer.toggle()">Stat Analysis</a>
      <a mat-list-item [routerLink]="['/group-stats']" (click)="drawer.toggle()">Group Data Analysis</a>
      <a mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
      </button>
      <span (click)="drawer.toggle()"><mat-icon aria-label="Side nav toggle icon">menu</mat-icon>BeerioKart Tracker</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-login *ngIf="!(isLoggedIn$ | async)"> 
</app-login>