<html>

<body>
  <h2>Submitted information:</h2>
    <hr>
    <h3>Name:
      <%= form.name %>
    </h3>
    <h4>Location:
      <%= form.location %>
    </h4>
    <h4>Language:
      <%= form.language %>
    </h4>
    <h4>Comment:
      <%= form.comment %>
    </h4>
    <hr>
</body>

</html>