<mat-accordion>
  <h2>Your personal history</h2>
  <div *ngIf="_showWarning">
    <p>Looks like you've yet to record any races.</p>
    <button mat-button [routerLink]="['/add-races']">GO RACE</button>
  </div>
  <mat-expansion-panel *ngFor="let race of _user?.races; let i = index" [attr.data-index]="i" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Race {{ i + 1 }}
      </mat-panel-title>
      <mat-panel-description class="main-header">
        {{ !panelOpenState ? 'Winner: ' + race?.winner + ', Course: ' + race?.course : race?.createdAt | date:'MM-dd-yy hh:mm:ss' }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="header">Platform: {{race?.platform}}</p>
    <p class="header">Course: {{ race?.course }}</p>
    <div *ngFor="let group of race['group']">
      <div *ngFor="let player of group['users']; let j = index" [attr.data-index]="j">
        <p *ngIf="player !== race.winner">{{ player }}</p>
        <p class="header" *ngIf="player === race.winner">{{ player }}</p>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
