<h1>Reviews for {{ _movie.title }}</h1>
<button (click)=deleteMovie(_movie._id)>Delete Movie</button>
<div *ngFor="let error of _errors">
  <p>{{ error.message }}</p>
</div>
<table>
  <tr>
    <th>Reviewer</th>
    <th>Stars</th>
    <th>Reviews</th>
    <th>Delete Review?</th>
  </tr>
  <tr *ngFor="let review of _movieReviews">
    <td>{{ review.name }}</td>
    <td>{{ review.stars }}</td>
    <td>{{ review.review }}</td>
    <td>
      <button (click)=deleteReview(review._id)>Delete Review</button>
    </td>
  </tr>
</table> 