<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Play</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static',filename='css/play_styles.css') }}" />
</head>
<body>
  <div id="container">
    <h1>Welcome!</h1>
    {% for i in range (0,num): %}
    <div style="background-color: {{color}}; width: 300px; display: inline-block; height: 150px; margin: 5px;"></div>
    {% endfor %}
  </div>
</body>
</html>