p.header, .main-header {
  color: #0000ff;
  font-weight: bold;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://www.mariowiki.com/images/thumb/c/cb/Mario_Kart_8_-_Mushroom_Cup_logo.svg/1200px-Mario_Kart_8_-_Mushroom_Cup_logo.svg.png');
  background-size: cover;
}

span.bold {
  font-weight: bold;
}